*{ box-sizing: border-box;}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */
.couleur-fond {
    background-color: rgb(20, 20, 20);
    padding: 15px 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.2rem;
}
body section {
    background-color: cadetblue;
}
a {
    text-decoration: none;
}

/* Mise en page (positionnement)
========================================================================== */

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
.logo {
    display: block;
    border: 2px solid red;
    padding: 3px 6px;
    font-size: 2.5rem;
    color: red;
}
.survol:hover {
    color: rgb(167, 0, 0);
}
.grid {
    display: grid;
    grid-row: 3;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}


/* Header / Navigations / Footer 
========================================================================== */

header {
    background-color: rgb(20, 20, 20);
    padding: 5px 0;
    img {
        width: 50%;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0;
        color: white;
    }
}
nav address {
    margin: 12px 0;
    padding: 8px 15px;
    font-size: 1.2rem;
    font-weight: 800;
    justify-items: center;
    align-content: center;
    background-color: white;
    a {color: black;}
}
header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: aqua;
}
header nav ul a {
    margin: 3px 26px;
    font-size: 1.5rem;
    color: white;
}
footer {
    text-align: center;
    padding-bottom: 1px;
}

/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */



/* Formulaires
========================================================================== */



/* Règles spécifiques aux pages
========================================================================== */

